<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="webFont">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-new-component [test]="title"></app-new-component>

<router-outlet></router-outlet>
