<form [formGroup]="editorGroup" >

  <div class="">
        <div class="container bg-dark postEditor rounded justify-content-center">
  <quill-editor formControlName="editor" [modules]="config" [style]="style" class=""></quill-editor>
        </div>
</div>

<div class="container">
  <div class="row"></div>
  <div class="col">
      <button (click)="onSubmit($event)" class="btn btn-danger btnPadding">Submit</button> <button (click)="showPostsAction()" class="btn btn-danger">Show My Posts</button>
  </div>
</div>
</form>

<button class="btn btn-danger" (click)="testBackEnd($event)">Test</button>
===========================================================
<div *ngIf="showPosts" class="container">
  <div *ngFor="let post of myPosts">
    <div [innerHTML]="post | noSanitize"></div>
  </div>

</div>
