/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.ql-toolbar.ql-snow {
    background: white;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
}

.ql-container.ql-snow {
    background: white;
}


.webFont{ 
    color: white;
}

body {
    background-image: url(assets/Rose.v1.jpg);
    background-attachment: fixed;
    background-position: center;
}